.card-charts{
    display: flex;
    justify-content: flex-start;
    border: none;
    border-radius: 15px;
    box-shadow: rgb(152, 189, 231) 0px 5px 20px;
    margin-bottom: 20px;
}

.title-chart{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.title-chart:hover{
    color: #72aaf7;
}