.card-forms {
  border: none;
  border-radius: 15px;
  box-shadow: rgb(205, 225, 248) 0px 5px 20px;
  cursor: pointer;
  padding: 1em;
}
.card-forms:hover {
  box-shadow: rgba(217, 234, 255, 1) 0px 5px 40px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.start{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
}

.forms-title {
  width: 100%;
  color: #000;
  font-size: 22px;
  font-weight: 600;
}
.forms-description {
  width: 100%;
  color: #969696;
  font-size: 16px;
  margin-top: 10px;
}

.label-input-forms{
    color: #000;
    font-size: 18px;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.label-input-hormonio{
  display: flex;
  align-items: center;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.input-forms{
    width: 100%;
    margin-top: 10px;
    border: 2px solid #ededed;
    border-radius: 50px;
    padding: 1em;
    background-color: #fff;
}

.hormonio{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  background-color: #ededed;
  border: none;
  border-radius: 50px;
  width: 100%;
  padding: 1em;
  font-size: 16px;
  color: #000;
  box-shadow: rgb(235, 235, 235) 0px 5px 10px;
}

.card-hormonio{
  margin-top: 20px;
  border-radius: 15px;
  border-radius: 1px solid #ededed;
  cursor: pointer;
}
.card-hormonio:hover{
  box-shadow: rgb(205, 225, 248) 0px 5px 20px;
}